<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TweetGPT</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!--<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">-->

<body>

<div class="logo-container">
  <a href="#"> <b>  TweetGPT  </b> </a>
</div>

<div class="banner">
  <h1>Generate tweets like a pro!</h1>
  <p>Use our free tool to create engaging and original tweets for your brand or personal account.</p>
    <div class="wrap">
       <div class="search">
           <form action="gentweets" method="post" class="wrap">{% csrf_token %}
              <input type="text" name="handle" class="searchTerm" placeholder="@twitter_handle">
               <button type="submit" class="searchButton"> Go </button>
           </form>
       </div>
    </div>
</div>

<div class="container mt-5 mb-3">
    <div class="row">
        <!--        loop      -->
        {% for tweet in tweets %}
        <div class="col-md-4">
            <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="icon"> </div>
                        <div class="ms-2 c-details">
                            <h6 class="mb-0">{{name}}</h6> <span>@{{handle}}</span>
                        </div>
                    </div>
                </div>
		    <hr>
                <div class="mt-6">
                    <p> {{ tweet }} </p>
                </div>
		    <hr>
            </div>
        </div>
        {% endfor %}

<!--        <div class="col-md-4">-->
<!--            <div class="card p-3 mb-2">-->
<!--                <div class="d-flex justify-content-between">-->
<!--                    <div class="d-flex flex-row align-items-center">-->
<!--                        <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>-->
<!--                        <div class="ms-2 c-details">-->
<!--                            <h6 class="mb-0">Naval</h6> <span>@naval</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--		    <hr>-->
<!--                <div class="mt-6">-->
<!--                    <p> The most dangerous person in the world is someone who feels they are a victim. The most dangerous person in the world is someone who feels they are a victim.</p>-->
<!--                </div>-->
<!--		    <hr>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>

</body>
</html>